    {%load static%}
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo" style="text-align: center;">
                <a href="{%url 'staff_index'%}"><img src="{% static 'images\logo.png'%}" class="w-50" alt="Texe Logo"></a>
            </div>
            <ul class="nav">
                <li class='{% if segment == "staff_index"%} active {% endif %}'>
                    <a href="{% url 'staff_index'%}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p style="font-size: 13px;">Dashboard</p>
                    </a>
                </li>
                
                
                

                {% if user.designation == "designing"%}
                
                <li class='{% if segment == "order_staff_designer"%} active {% endif %}'>
                    <a href="{% url 'order_staff_designer'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {% elif user.designation == "cutting"%}
                
                <li class='{% if segment == "cutting_order_list"%} active {% endif %}'>
                    <a href="{% url 'cutting_order_list'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>

                {% elif user.designation == "stiching"%}
                
                <li class='{% if segment == "stiching_order_list"%} active {% endif %}'>
                    <a href="{% url 'stiching_order_list'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {% elif user.designation == "printing"%}
                
                <li class='{% if segment == "printing_order_list"%} active {% endif %}'>
                    <a href="{% url 'printing_order_list'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {% elif user.designation == "testing"%}
                
                <li class='{% if segment == "testing_order_list"%} active {% endif %}'>
                    <a href="{% url 'testing_order_list'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {% elif user.designation == "packing"%}
                
                <li class='{% if segment == "packing_order_list"%} active {% endif %}'>
                    <a href="{% url 'packing_order_list'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {% elif user.designation == "despatch"%}
                
                <li class='{% if segment == "despatch_order_list"%} active {% endif %}'>
                    <a href="{% url 'despatch_order_list'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {%else%}
                {%endif%}

                

                {% if user.designation == "designing"%}
                
                <li class='{% if segment == "completed_work_designer"%} active {% endif %}'>
                    <a href="{% url 'completed_work_designer'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Completed Order</p>
                    </a>
                </li>
                {%elif user.designation == "cutting" %}
              
                
                    <li class='{% if segment == "cutting_complete_order"%} active {% endif %}'>
                        <a href="{% url 'cutting_complete_order'%}">
                            <i class="tim-icons icon-atom"></i>
                            <p style="font-size: 13px;">Completed Order</p>
                        </a>
                    </li>
                {%elif user.designation == "stiching" %}
            
                
                    <li class='{% if segment == "stiching_complete_order"%} active {% endif %}'>
                        <a href="{% url 'stiching_complete_order'%}">
                            <i class="tim-icons icon-atom"></i>
                            <p style="font-size: 13px;">Completed Order</p>
                        </a>
                    </li>
                {%elif user.designation == "printing" %}
            
                
                    <li class='{% if segment == "printing_complete_order"%} active {% endif %}'>
                        <a href="{% url 'printing_complete_order'%}">
                            <i class="tim-icons icon-atom"></i>
                            <p style="font-size: 13px;">Completed Order</p>
                        </a>
                    </li>
                    {%elif user.designation == "testing" %}
            
                
                    <li class='{% if segment == "testing_complete_order"%} active {% endif %}'>
                        <a href="{% url 'testing_complete_order'%}">
                            <i class="tim-icons icon-atom"></i>
                            <p style="font-size: 13px;">Completed Order</p>
                        </a>
                    </li>

                    {%elif user.designation == "packing" %}
            
                
                    <li class='{% if segment == "packing_complete_order"%} active {% endif %}'>
                        <a href="{% url 'packing_complete_order'%}">
                            <i class="tim-icons icon-atom"></i>
                            <p style="font-size: 13px;">Completed Order</p>
                        </a>
                    </li>

                {%elif user.designation == "despatch" %}
            
                
                    <li class='{% if segment == "despatch_complete_order"%} active {% endif %}'>
                        <a href="{% url 'despatch_complete_order'%}">
                            <i class="tim-icons icon-atom"></i>
                            <p style="font-size: 13px;">Completed Order</p>
                        </a>
                    </li>
                {%else%}
                {%endif%}
                  
                
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p style="font-size: 13px;">Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
