    {%load static%}
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo" style="text-align: center;">
                <a href="{%url 'dashboard'%}"><img src="{% static 'images\logo.png'%}" class="w-50" alt="Texe Logo"></a>
            </div>
            <ul class="nav">
                <li class='{% if segment == "dashboard"%} active {% endif %}'>
                    <a href="{% url 'dashboard'%}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p style="font-size: 13px;">Dashboard</p>
                    </a>
                </li>
                
                
                {% if user.designation == "designer"%}
                
                <li class='{% if segment == "completed_work_designer"%} active {% endif %}'>
                    <a href="{% url 'completed_work_designer'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Completed Order</p>
                    </a>
                </li>
                {%else%}
                {%endif%}

                {% if user.designation == "designer"%}
                
                <li class='{% if segment == "order_staff_designer"%} active {% endif %}'>
                    <a href="{% url 'order_staff_designer'%}">
                        <i class="tim-icons icon-atom"></i>
                        <p style="font-size: 13px;">Order Management</p>
                    </a>
                </li>
                {%else%}
                {%endif%}
                  
                
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p style="font-size: 13px;">Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
