
{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{%load static%}
    <form action="" method="POST">
        {%csrf_token %}
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 ">
                    <div class="card mx-auto" style="max-width: 600px;">
                        <div class="card-body">
                            <div class="row mt-4 ">
                                <div class="col-sm-12" style="text-align: center;">
                                  <img src="{% static 'login_texe.png'%}" width="200" alt="">
                                </div>
                              </div> 
                              <div class="row">
                                <div class="col-sm-12 mt-4" style="text-align: center;">
                                  <h4 class="text-danger">Forgot Password</h4>
                                </div>
                              </div>
                            {% if messages %}
                            {% for message in messages %}
                                <div id = "message" class="container">
                                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden = "true">&times;</span></button>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                                {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% comment %} {% include 'includes/alerts.html' %} {% endcomment %}
                    <form action = "{% url 'forgotPassword' %}" method = 'POST'>
                        {% csrf_token %}
                        <div class="row mt-3">
                            <div class="col-sm-12 pl-5 pr-5">
                                <input type="email" class="form-control" placeholder="Email Address"  name='email'>
                                <a href="{% url 'login' %}" class="float-right" style="font-size: 14px;"><p>Got password? Login</p></a> 
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12" style="text-align: center;">
                                <button type="submit" class="btn btn-fill btn-primary w-50" > Submit  </button>
                
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
    </form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

