

{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{%load static%}
    <form action="" method="POST">
        {%csrf_token %}
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 ">
                    <div class="card mx-auto" style="max-width: 600px;">
                        <div class="card-body">
                                
                            {% if messages %}
                            {% for message in messages %}
                                <div id = "message" class="container">
                                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden = "true">&times;</span></button>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                                {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                    <form action = "{% url 'resetPassword' %}" method = 'POST'>
                      {% csrf_token %}
                      <div class="row ">
                        <div class="col-sm-12" style="text-align: center;">
                          <img src="{% static 'login_texe.png'%}" width="200" alt="">
                        </div>
                      </div> 
                      <div class="row">
                        <div class="col-sm-12 mt-4" style="text-align: center;">
                          <h4 class="text-danger">Reset Password</h4>
                        </div>
                      </div>
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Create Password" name='password'>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Confirm Password" name='confirm_password'>
                        </div> <!-- form-group// -->
                     
                        <div class="form-group">
                            <button type="submit" class="btn btn-fill btn-primary btn-block"> Reset  </button>
                        </div> <!-- form-group// -->    
                    </form>
                
                    </div> <!-- card-body.// -->
                  </div> <!-- card .// -->
                </div>

            </div>
        </div>

    </div>
    </form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



